body {
	background-color:black;
    height: 100%;
    margin: 0;
}
h2 {
	color:white;
	margin-left:20px;
}
h1 {
	color:black;
	margin-left:20px;
}
html {
	color:white;
	margin-left:20px;
}

.tabs {
    width:100%;
    display:inline-block;
}
 
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:light green;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#FFF056;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#FFF056;
        color:#4c4c4c;
    }
 
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:white;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
		
p {
	font: 16px Times New Roman;
	margin: 0 0 18px;
}

ul {
	font: 16px Times New Roman;
	margin: 0 0 18px;
}


#devesh {  
	width:45%; 
	margin: 10px;
	font-size: 15px;
    display: inline-block;
	vertical-align: top;
	}
#nick {  
	width:45%; 
	margin: 10px;
	font-size: 15px;
    display: inline-block;
	vertical-align: top;
}

